<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Student Form</title>
</head>
<body>
<form action="#" th:action="@{/studentform}" th:object="${student}" method="post">
<fieldset>
<span th:if="${#fields.hasErrors('firstName')}" 
	    	th:errors="*{firstName}">First Name Error</span>
<input type="text" id="firstname" th:field="*{firstname}" placeholder="First Name"/>
</fieldset>
<fieldset>
<input type="reset"/>
<input type="submit"/>
</fieldset>
</form>
</body>
</html>